@import './variables.scss';

@font-face {
    font-family: dancing;
    src: url(../font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: open;
    src: url(../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@mixin title {
    color: $colorTxt;
    text-align: center;
    font-size: 35px;
}

@mixin quotes {
    color: $colorTxt;
    backdrop-filter: blur(10px);
    text-align: center;
    background-color: $mainColor;
    border: $backColor solid 1px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}

@mixin img {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    border: $colorTxt solid 1px;
}

@mixin button {
    background-color: $backColor;
    color:$colorTxt; 
    text-align: center;
    font-family: dancing;
    font-size: 20px;
    border: $colorTxt solid 1px;
    border-radius: 20px;
}

@mixin footer {
    color: $colorTxt;
    text-align: center;
    background-color: $backColor;
    font-family: open;
    font-size: 12px;
    font-weight: 100;
}