@import './variables.scss';
@import './mixin.scss'; 

html{
    width: 100%;
    height: auto;
    body{
        background-image: url("../img/wallpaperflare.com_wallpaper.jpg");
        background-color: $backColor;
        font-family: dancing;
        header{
            background-color: $backColor; 
            display: flex;
            flex-direction: row;
            justify-content: center;
            h1{
                @include title;
                padding: 20px 0 20px 0;
            }
        }
        .quotes{
            @include quotes; 
            display: flex;
            flex-direction: column;
            margin: 50px 20px 30px 20px;
            border-radius: 0 100px 0 100px;
            height: 500px;
            overflow: hidden;
            .quotes_author{
                margin-top: 20px;
                img{
                    width: 12rem;
                    height: 12rem;
                    border-radius: 100%;
                    border: $colorTxt solid 1px;
                }
            }
            .quotes_display{
                margin: 25px 20px 10px 20px;
                .quotes_display_author{
                    margin: 20px 0 30px 0;
                }
            }
            .quotes_button{
                button{
                    @include button; 
                    padding: 2px 10px 2px 10px;
                    &:hover{
                        background-color: $colorTxt;
                        color: $backColor;
                    }
                }
            }
        }
    }
}